*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bi-cart3{
    font-size: 26px;
}
.nav2 ul{
    list-style-type: none;
}
.nav2 ul li:first-child{
    text-decoration: underline;
}
.custom-select{
    border: none;
}